<div style="position: relative; width:800px; top:10px; left:50px;">
    <h1>Konfiguration</h1>
    <div *ngFor='let value of values'>
        <div class="input-group">
            <span style="width: 100px;" class="input-group-addon">{{value.key}}</span>
            <input type="text" class="form-control" value="{{value.value}}">
        </div>
    </div>
    <div style="padding-top: 10px;" class="btn-group" role="group" aria-label="...">
        <button (click)="save()" type="button" class="btn btn-default">Speichern</button>
    </div>
</div>
